<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bulgogi1216.gmail.photogenic">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COURSE_LOCATION" />

    <protected-broadcast android:name="android.intent.action.MEDIA_MOUNTED" />

    <application
        android:name=".model.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <activity
            android:name=".Sungmin.LoginActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CameraActivity" />

        <service android:name=".geofencing.GeofenceTransitionsIntentService" />
        <activity android:name=".MainActivity"/>
        <activity android:name=".SelfieActivity"/>
        <activity android:name=".MapsTourActivity"/>
        <activity android:name=".Sungmin.PhotoDescription"/>
        <activity android:name=".Sungmin.Search"/>
        <activity android:name=".Sungmin.Information"/>
        <activity android:name=".Sungmin.ProvinceGridList"/>
        <activity android:name=".Sungmin.ChatBotActivity"/>
        <activity android:name=".Sungmin.ShowRanking"/>
        <activity android:name=".Sungmin.KakaoSignactivity"/>
        <activity android:name=".Sungmin.SignUp"/>
        <activity android:name=".LoadingActivity"/>
        <activity android:name=".Sungmin.FeedActivity"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>